<h2>{{title}}</h2>
<div>
  {{#link-to 'posts.edit' this}}Edit{{/link-to}}
  <a {{action 'destroy'}}>Destroy</a>
</div>
{{text}}


{{ render 'comments/new' }}

{{#each comments}}
  <strong>{{author}}</strong>
  {{text}}
{{/each}}